<div class = "container">
  <div class = "row">
    <div class = "col-md-4 py-5">
      <h5 class = "text-title text-center">マイページ</h5>
      <div class = "m-5">
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg',fallback:"no_image.jpg" %>
        <h3><%= @user.name %></h3>
        <table class = "table">
          <tr>
            <th>フォロー中</th>
            <td id = 'following-count_<%= @user.id %>'>
              <%= link_to @user.followings.count, user_followings_path(@user) %>
            </td>
          </tr>
          <tr>
            <th>フォロワー</th>
            <td id = 'follower-count_<%= @user.id %>'>
              <%= link_to @user.followers.count, user_followers_path(@user) %>
            </td>
          </tr>
        </table>
        <div class = "mt-3">
          <% if current_user != @user %>
            <div id = "follow-btn_<%= @user.id %>">
              <%= render "relationships/follow_btn", user: @user %>
            </div>
          <% end %>
        </div>
         <!--userがログインuserだったら-->
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user),class: "btn btn-success" %></p>
        <% end %>
      </div>
    </div>
    <div class = "col-md-7 offset-md-1 py-5">
      <h2 class = "text-title text-center">投稿一覧</h2>
      <%= render 'post_images/list', post_images: @post_images %>
    </div>
  </div>
</div>

