<div class = "container">
  <div class = "row">
    <div class = "col-md-4 py-5">
      <h5 class = "text-title text-center">マイページ</h5>
      <div class = "m-5">
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg',fallback:"no_image.jpg" %>
        <h3><%= @user.name %></h3>
        <!--userがログインuserだったら-->
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user),class: "btn btn-success" %></p>
        <% end %>
        <% unless @user == current_user %>
          <% if current_user.following(@user) %>
            <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
          <% else %>
            <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class = "col-md-8">
      <%= render 'post_images/list', post_images: @post_images %>
    </div>


  </div>
</div>

